<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title})}">
<!-- This is the about page that extends the base HTML template. -->

<head>
    <title>Add Contact</title>
</head>

<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <div th:replace="~{user/sidebar :: sidebar}"></div>
        </div>
        <div class="sm:pl-64 pt-20 flex flex-col items-center justify-center">
            <div class="grid grid-cols-12">
                <div class="col-span-3"></div>
                <div class="col-span-12 md:col-span-6">form</div>
            </div>
        </div>
    </div>
</body>
</html>