<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title})}">
<!-- This is the about page that extends the base HTML template. -->

<head>
    <title>Add Contact</title>
</head>

<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <div th:replace="~{user/sidebar :: sidebar}"></div>
        </div>
        <div class="sm:pl-64 pt-20">
            <div class="grid grid-cols-12">
                <div class="col-span-3"></div>
                <div class="col-span-12 md:col-span-6">
                    <div
                        class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <div th:replace="message::messagebox"></div>
                        <h1 class="text-3xl font-semibold">Add Contact</h1>
                        <p>Your contacts will be on cloud...</p>

                        <form action="" class="mt-8" method="post" th:object="${contactForm}"
                            th:action="@{'/user/contacts/add'}"
                            enctype="multipart/form-data">
                            <!-- Contact Name -->
                            <div class="mb-3">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Name</label>
                                <div class="relative mb-2">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-regular fa-address-book w-4 h-4"></i>
                                    </div>
                                    <input type="text" th:field="*{name}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Name">
                                </div>
                                <p class="text-red-500" 
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}">Invalid Name</p>
                            </div>

                            <!-- Contact Email -->
                            <div class="mt-6 mb-3">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Email</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-regular w-4 h-4 fa-envelope"></i>
                                    </div>
                                    <input type="text" th:field="*{email}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Email">
                                </div>
                                <p class="text-red-500" 
                                th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}">Invalid Name</p>
                            </div>

                            <!-- Phone Number -->
                            <div class="mt-6 mb-3">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Number</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-phone w-4 h-4"></i>
                                    </div>
                                    <input type="text" th:field="*{phoneNumber}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="+91 11111 33333">
                                </div>
                                <p class="text-red-500" 
                                th:if="${#fields.hasErrors('phoneNumber')}"
                                th:errors="*{phoneNumber}">Invalid Name</p>
                            </div>

                            <!-- Contact Address -->
                            <div class="mt-6 mb-3">

                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Address</label>
                                <div class="relative mb-1">
                                    <div class="absolute inset-y-0 start-0 ps-3.5 pointer-events-none">

                                    </div>
                                    <textarea th:field="*{address}" rows="4"
                                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Write your contact's address here..."></textarea>
                                </div>
                                <p class="text-red-500" 
                                th:if="${#fields.hasErrors('address')}"
                                th:errors="*{address}">Invalid Name</p>
                            </div>


                            <!-- Contact Description -->
                            <div class="mt-6 mb-3">

                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Description</label>
                                <div class="relative mb-1">
                                    <div class="absolute inset-y-0 start-0 ps-3.5 pointer-events-none">

                                    </div>
                                    <textarea th:field="*{description}" rows="4"
                                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Write your contact's description here..."></textarea>
                                </div>
                            </div>


                            <!-- Profile Pic upload section -->
                            <label class="block mt-6 mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="file_input">Upload Contact Image</label>
                            <input
                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                type="file"
                                th:field="*{contactImage}">


                            <!-- Social Links -->
                            <div class="flex space-x-3 mt-6 mb-3">
                                <div class="w-full">
                                    <div class="mb-3">
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-solid fa-globe"></i>
                                            </div>
                                            <input type="text" th:field="*{websiteLink}"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="user.facebook.com">
                                        </div>
                                    </div>
                                </div>

                                <div class="w-full">
                                    <div class="mb-3">
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-brands fa-linkedin-in"></i>
                                            </div>
                                            <input type="text" th:field="*{linkedInLink}"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="user.linkedin.com">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Favourite Selection -->
                            <div class="flex items-center mb-4">
                                <input type="checkbox" th:field="*{favourite}" value=""
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-smfocus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="default-checkbox"
                                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mark as
                                    Favourite</label>
                            </div>

                            <!-- Buttons Section -->
                            <div class="mt-6 button-container text-center">
                                <button type="submit"
                                    class="px-3 py-2 !bg-black text-white dark:bg-blue-600 hover:dark:bg-blue-700 rounded">Add
                                    Contact</button>

                                <button type="reset"
                                    class="px-3 py-2 !bg-black text-white dark:bg-blue-600 hover:dark:bg-blue-700 rounded">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>